.carousel-wrapper {
  position: relative;
}

.carousel-container {
  position: relative;
  width: 100%;
}

.banner {
  width: 100%;
  height: auto;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  padding: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
}

.carousel-wrapper:hover .custom-arrow {
  display: block;
}

.custom-arrow.left {
  left: 10px;
}

.custom-arrow.right {
  right: 10px;
}
