.address-change-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.address-change-container > div {
  font-size: small;
}
.postcode-widget {
  display: none;
  position: absolute;
  width: 20%;
  height: 400px;
  z-index: 1;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  top: 100%;
  left: 0;
}

.postcode-widget.open {
  display: block;
}

.change-button {
  margin-top: 0;
}

.change-button:hover {
  background-color: lightgreen;
}

@media (max-width: 994px) {
  .postcode-widget {
      width: 100%;
      left: auto;
      right: 0;
  }
}

.change-button {
  width: 100px;
  padding: 4px;
  border: 1px solid black;
  color: black;
  background-color: white;
  cursor: pointer;
  font-size: small;
}

.change-button:hover {
  border: 2px solid black;
}