.cart-page-margin-bottom{
    margin-bottom: 20px;
}
.cart-page-title{
    width: 80%;
    margin: 20px auto;
}
.cart-page-box{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.cart-page-width{
    width: 50%;
    min-width: 300px;
}
.empty-cart{
    width: 100%;
    text-align: center;
    height: 220px;
    line-height: 180px;
}

.cart-item-box{
    width: 100%;
    margin: 5px auto;
}
.cart-item{
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
}
.cart-item-description-box{
    width: calc(100% - 150px);
    padding-top: 20px;
    padding: 0 13px;
}
.cart-item-image{
    width: 100px;
    height: auto;
    object-fit: cover;
}
.cart-item-name{
    font-weight: bold;
}
.cart-item-price{
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}
.cart-item-description-box select{
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}
.cart-item-delete-button{
    background-color: white;
    border-top: 1px solid gray;
}
.cart-item-delete-button{
    background-color: transparent;
    border: 1px solid rgb(199, 199, 199);
    color: gray;
}
.cart-item-delete-button:hover{
    border-color: #006341;
    color: #006341;
    background-color: transparent;
    font-weight: bold;
}

.order-list-box{
    width: 100%;
    background-color: #f5f2ee;
    border: 1px solid #f5f2ee;
    padding: 20px;
    border-radius: 12px;
}
.order-list-title{
    font-weight: bold;
    font-size: 23px;
}
.order-list-price{
    border-top: 1px solid gray;
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
}