.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.category-item {
  margin: 5px 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-item:hover, .category-item.active {
  background-color: #ff6f61;
  color: white;
}
