.ingredient-theme-card__container {
  /* background-color: rgb(244, 248, 243); */
  padding: 50px 200px 10px 200px;
}

.ingredient-theme-cards {
  display: flex;
  justify-content: space-between;
}

.ingredient-theme-cards .ingredient-card {
  min-width: 275px;
}

.ingredient-theme-card__desc h3 {
  font-weight: 600;
}