.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.head-container {
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #006341; /* Starbucks green */
}

.span-start {
    color: red;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-bottom: 15px;
}

.form-group label {
    width: 30%;
    color: #006341;
}

.form-group input {
    width: 65%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #006341;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #004d32;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.googleLogin{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.admin-box{
    margin-top:10px;
    margin-bottom: 10px;
}

.find-user {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 600;
}

.find-user .find-id {
    padding-right: 8px;
    border-right: 2px solid black;
}

.find-user .find-password {
    padding-left:  8px;
}

.find-user a {
    text-decoration: none;
    color: black;
}