.custom-container {
    width: 90%; /* 원하는 너비를 설정 */
    max-width: 1200px; /* 최대 너비를 설정 */
    margin: 0 auto; /* 가운데 정렬 */
  }
  
  .user-info-col {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
  }
  
  .order-history-col {
    padding: 20px;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
  }
  
  .additional-info button {
    font-size: 0.9em;
  }