.custom-container {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.user-info {
  background-color: #fff;
  padding: 15px;
  margin: 10px auto;
  border-radius: 15px;
  width: 90%;
  height: 200px;
  border: 1px solid lightgray;
}
  
.user-info-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid lightgray;
  width: 90%;
}

.user-info-menu p {
  margin-bottom: 5px;
}

.shopping-menu {
  width: 90%;
  padding: 5px 0 15px;
  border-bottom: 1px solid lightgray;
}

.shopping-menu:last-child {
  padding : 15px 0 0;
  border-bottom: none;
}

.shopping-menu > div {
  padding-left: 10px;
  padding-bottom: 5px;
} 