.recipe-all-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.recipe-all-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.recipe-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}

.recipe-all-title h2 {
  font-weight: 600;
}

.recipe-category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  flex-wrap: wrap;
}

.category-container {
  display: flex;
}
