.recipe-carousel-wrapper {
  position: relative;
  padding: 50px 150px 10px 150px;
  width: 100vw;
}

.recipe-carousel-container {
  position: relative;
}

.recipe-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.custom-arrow-recipe {
  position: absolute;
  top: 25%;
  transform: translateY(25%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  padding: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
}

.recipe-carousel-wrapper:hover .custom-arrow-recipe {
  display: block;
}

.custom-arrow-recipe.left-recipe {
  left: 0;
}

.custom-arrow-recipe.right-recipe {
  right: 0;
}

@media (max-width: 994px) {
  .recipe-carousel-wrapper {
    padding: 30px 50px 10px 50px;
  }
  .recipe-title {
    margin-bottom: 20px;
  }
  .custom-arrow-recipe {
    top: 15%;
    width: 40px;
    height: 40px;
    font-size: 15px;
  }
}


