.recipe-card {
  position: relative;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 15px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.recipe-card img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  transition: all 0.3s;
}


.recipe-card img:hover {
  transform: scale(1.05);
}

.card-disc {
  padding: 10px 8px;
}

.card-disc .title {
  text-align: center;
}