.recipe-detail-container {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 1200px;
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-detail-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .recipe-detail-image {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
  }
  
  .recipe-detail-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  
  .recipe-detail-left {
    padding-right: 20px;
  }
  
  .recipe-detail-left h1 {
    font-size: 2em;
    color: #2e8b57;
  }
  
  .recipe-detail-left p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
  }
  
  .recipe-detail-left h2 {
    color: #2e8b57;
    margin-bottom: 10px;
  }
  
  .recipe-detail-left ol {
    margin-left: 20px;
    color: #555;
  }
  
  .recipe-detail-left li {
    margin-bottom: 20px;
  }
  
  .step-item {
    margin-bottom: 20px;
  }
  
  .step-image {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .recipe-detail-right {
    padding-left: 20px;
    border-left: 2px solid #ccc;
  }
  
  .recipe-detail-right h2 {
    color: #2e8b57;
    margin-bottom: 10px;
  }
  
  .recipe-detail-right ul {
    margin-left: 20px;
    color: #555;
  }
  
  .recipe-detail-meta {
    background-color: #2e8b57;
    color: #fff;    
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .meta-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .meta-icon {
    font-size: 1.5em;
    
  }
  
  .meta-text {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .meta-data {
    font-size: 1.7rem;
    font-weight: bold;
  }