.recipe-all-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 50px;
}

.recipe-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
}

.recipe-category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  flex-wrap: wrap;
}

.category-container {
  display: flex;
}

@media (max-width: 994px) {
  .recipe-all-container {
    margin-top: 30px;
  }
}

/* 스켈레톤 스타일 */
.skeleton-card-container {
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 15px;
  overflow: hidden;
}
