.reset_password_area .title {
  padding-bottom: 30px;
  text-align: center;
}

.reset_password_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password_input_wrap {
  position: relative;
}

.password_input_wrap input {
  width: 380px;
}

.password_toggle_icon {
  position: absolute;
  top: 7px;
  right: 5px;
}

.reset_password_area .submit_btn {
  width: 380px;
  margin-top: 30px;
}