.review-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .review-item p {
    margin: 5px 0;
  }
  
  .review-item strong {
    font-weight: bold;
  }
  
  .review-item button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .review-item button:hover {
    background-color: #ff1a1a;
  }

  .button{
    width: 80px;
    margin-right: 15px;
  }

  .comment-container{
    display: flex;   
    align-items: center; 
    
  }

 
  .button-container{
    margin-left:auto;
  }

  .review-info{
    display: flex;
    flex-direction: row;
  }

  .id-container{
    margin-left: auto;
  }
  