.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid lightgrey;
  background-color: white;
}

.footerInfo {
  display: flex;
  margin-bottom: 30px;
}

.footerInfo img {
  width: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.company p {
  margin: 0 auto;
  width: 333px;
  text-align: center;
}

.company {
  width: 534px;
  display: flex;
  flex-direction: column;
}

.company .companyList {
  margin-top: 38px;
}

.company .companyList li {
  font-size: 14px;
  margin-left: 14px;
  display: inline-block;
}

.company .companyInfo {
  margin-top: 42px;
  margin-left: 15px;
  line-height: 1.8;
  color: #999;
}

@media (max-width: 994px) {
  .footerInfo {
    margin-bottom: 15px;
  }
  .footerInfo img {
    width: 30px;
  }
}