/* src/style/UserInfo.style.css */
.user-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
  }
  
  .additional-info button {
    font-size: 0.9em;
  }
  
  .user-info .align-items-center .d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .name-span{
    margin-left:80px;
  }

  .additional-info button{
    font-size: 0.8rem;
  }
  