body{
  font-family: sans-serif;
  /* background-color: rgb(244, 248, 243) !important; */
}

.layout {
  padding-top: 95px;
}

.overflow-x{
  overflow: auto;
  width: 100%;
}

.search-box-container {
  padding: 0 10px;
}

.search-box {
  position: relative;
  width: 100%;
  border: 2px solid rgb(0, 187, 0);
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.search-box input {
  margin: 7px;
  margin-right: 100px;
  border: none;
  font-size: 16px;
}

.search-box input:focus {
  outline: none;
}

.search-box svg {
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 20px;
}

.dashboard-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-right: 25px;
  margin-bottom: 30px;
  max-width: 330px;
  min-width: 150px;
  height: 100px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  border-left: 5px solid green;
  box-shadow: 1px 1px 5px 0 rgba(163, 149, 149, 0.74);
}

.dashboard-card p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.dashboard-card span {
  color: black;
  font-size: 18px;
}

.dashboard-content {
  margin-right: 10px;
}

.modal-dialog{
  max-width: 700px;
}

.receipt-display {
  display: flex;
  justify-content: space-between;
}

.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
}

.cart-none {
  display: flex;
  justify-content: space-between;
}

.search-results {
  margin: 20px 150px;
}

.search-results h2 {
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 994px) {
  .layout {
    padding-top: 70px;
  }
}
